/* @config '../tailwind.config.ts'; */
@import 'tailwindcss';

@plugin "daisyui" {
	themes:
		light --default,
		dark --prefersdark;
	/* themes: light --default; */
}

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@theme {
	--font-sans: 'Anuphan Variable', sans-serif;
}

@layer components {
	.unoviz-custom-style {
		--vis-axis-grid-color: color-mix(in oklab, var(--color-base-content) 10%, transparent 100%);
		--vis-axis-tick-color: color-mix(in oklab, var(--color-base-content) 50%, transparent 100%);
		--vis-font-family: var(--font-sans);
		--vis-font-size: var(--text-base);
		--vis-label-fill-color: var(--color-base-content);
		--vis-label-font-size: var(--text-xs);
		--vis-line-color: var(--color-base-content);
		--vis-tick-color: var(--color-base-content);
		--vis-tooltip-background-color: color-mix(in oklab, var(--color-base-100) 90%, transparent 50%);
		--vis-tooltip-border-color: var(--color-base-300);
		--vis-tooltip-text-color: var(--color-base-content);
		--vis-tooltip-font-size: var(--text-xs);
		--vis-tooltip-border-radius: var(--radius-box);
		--vis-tooltip-padding: 0.5rem;
		--vis-tooltip-shadow-color: var(--color-base-100);
		--vis-tooltip-backdrop-filter: blur(8px);
		--vis-xy-label-fill-color: var(--color-base-100);
		--vis-xy-label-fill-opacity: 0.8;
		--vis-xy-label-text-color-light: var(--color-base-content);
		--vis-xy-label-stroke-color: var(--color-base-content);
		--vis-xy-label-stroke-width: 0.5px;
		--vis-xy-label-hover-stroke-width: 2px;
	}
}

@layer utilities {
	.countdown > .countdown-single::before {
		content: '0\a 1\a 2\a 3\a 4\a 5\a 6\a 7\a 8\a 9\a';
		white-space: pre;
		top: calc(var(--value) * -1em);
		text-align: center;
		/* transition: all 1s cubic-bezier(1, 0, 0, 1); */
		transition: all 2s
			linear(
				-0,
				0.0033 5.75%,
				0.0132 11.43%,
				0.0296 16.95%,
				0.0522 22.25%,
				0.0808 27.25%,
				0.1149 31.89%,
				0.1542 36.11%,
				0.1981 39.85%,
				0.2779 44.79%,
				0.3654 48.15%,
				0.4422 49.66%,
				0.5807 50.66%,
				0.6769 53.24%,
				0.7253 55.37%,
				0.7714 58.01%,
				0.8142 61.11%,
				0.8536 64.65%,
				0.9158 72.23%,
				0.9619 80.87%,
				0.9904 90.25%,
				1
			);
		position: relative;
	}
}
